html {
    background: black;
}

h2 {
    color: rgb(143, 245, 248);
    text-align: center;
    font-size: 45px;
}

a:hover {
    background: rgb(250, 195, 195);
    color: black;
}

.format {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 50px 300px;
}

.bg {
  min-height: 400px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 45px;
}
